{% load static %}
<html>
    <head>
        <title>homepasee</title>
    </head>
    <link rel="stylesheet" href="{% static 'ka.css' %}">
    <body>
    <h2>this is my first app college</h2><br><br><br><br><br><br><br><br>
    
            
            <div>
                <h1>schoolAdmis or report</h1><br><br>
                <a href="/ad/admis"><button type="submit",value="addadmis">addadmis</button></a><br><br>
                <a href="/ad/admisre"><button type="submit",value="addreport">viewreport</button></a>

            </div>
            <div>
                <h1>Teacher  or report</h1><br><br>
                <a href="/ad/teacher"><button type="submit",value="Teacher">Teacher</button></a><br><br>
                <a href="/ad/teacherre"><button type="submit",value="Teacher report">Teacherreport</button></a>

            </div>

            <h1><a href="accounts/logout">LOGOUT</a></h1>
    </body>
</html>